@font-face{
    font-family: 'Russian Land';
    src: url(../fonts/15387.otf);
}

html{
    box-sizing: border-box;
}

body{
    background-color: black;
    color: #fff;
    font-family: 'Yantramanav', sans-serif;
    overflow: hidden;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

img { pointer-events: none; }

a{
    text-decoration: none;
    color: #fff;
}

ul, li{
    text-decoration: none;
    padding: 0;
    margin: 0;
}

main{
    width: 100%;
}

.container{
    padding: 72px 200px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    position: absolute;
    width: calc(100% - 400px);
    z-index: 1;
}

nav a{
    padding: 20px;
    margin: -20px;
    letter-spacing: 0.01em;
}

.nav a:last-child{
    text-align: right;
}

@media screen and (max-width: 768px){
    .container{
        padding: 30px 50px;
    }
    .main_text{
        width: calc(85% - 50px);
    }
    .main_text h1{
        font-size: 50px !important;
    }
    nav{
        width: calc(100% - 100px);
    }
}

.logo{
    font-weight: bold;
}

.logo:after{
    content: url("../img/smile.png");
    position: absolute;
    margin-left: -9px;
}

.main{
    display: flex;
    flex-direction: row;
}

.dots{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 144px);
    position: absolute;
    z-index: 1;
}

.dot{
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    margin: 16px 0;
    cursor: pointer;
}

.dot.active{
    background-color: #fff;
}

.main_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: calc(100vh - 144px);
    margin-left: 15%;
    z-index: 2;
    pointer-events: none;
}

.main_text h1{
    font-family: "Russian Land";
    font-size: 96px;
    font-weight: normal;
    margin: 0;
}

.main_text p{
    font-family: Yantramanav;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
    letter-spacing: 0.01em;
    color: #999999;
    text-transform: uppercase;
    margin: 0;
}

.magnet__wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin-top: -120px;
    z-index: 9999;
}

.magnet{
    position: absolute;
    width: 29%;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 768px){
    .magnet{
        width: 50%;
    }
}

.btn{
    position: absolute;
    padding: 239.5px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    border-radius: 100%;
    margin-top: 30vh;
    margin-left: 55%;
    transition: .5s;
    z-index: 6;
}

.btn:hover{
    border: 1px solid rgba(255, 255, 255, 1);
    transition: .5s;
    cursor: pointer;
}

.noise {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    pointer-events: none;
    opacity: .1;
}

.magnet__wrap{
    z-index: 5;
}